/*公共样式--开始*/
html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    /* 怪异盒模型 */
    box-sizing: border-box;
}

.common {
    width: 1190px;
    margin: auto;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #333;
}

i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
ol,
li {
    /* 清除列表符号 */
    list-style: none;
}

img {
    border: none;
    /* vertical-align: middle; */
}

a {
    /* 清除a下划线 */
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input,
textarea {
    /* 去掉聚焦时蓝色边框 */
    outline: none;
    border: none;
}

textarea {
    /* 禁止拉动 */
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    /* 清除浮动 */
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}

.fl {
    /* 左浮 */
    float: left;
}

.fr {
    /* 右浮 */
    float: right;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/* 精灵图 */
.pic {
    background-image: url("../images/CSS_Satyr.png");
    display: block;
}

/* 箭头 */
.pic_1 {
    background-position: -0px -0px;
    width: 7px;
    height: 4px;
    top: 4px;
    right: 10px;
}

/* 手机 */
.pic_2 {
    background-position: -9px -0px;
    width: 10px;
    height: 14px;
    top: 0px;
    left: 15px;
}

/* qq */
.pic_3 {
    background-position: -21px -0px;
    width: 17px;
    height: 16px;
    top: 0;
    left: 14px;
}

/* 购物车 */
.pic_4 {
    background-position: -40px -0px;
    width: 21px;
    height: 18px;
}